vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|26 Sep 2011 19:04:32 -0000
vti_author:SR|MONTCLAI-43665A\\MSUITAdmin
vti_modifiedby:SR|MONTCLAI-43665A\\MSUITAdmin
vti_nexttolasttimemodified:TW|26 Sep 2011 19:04:32 -0000
vti_timecreated:TR|03 Oct 2011 13:36:02 -0000
vti_cacheddtm:TX|03 Oct 2011 13:36:02 -0000
vti_filesize:IR|8290
vti_cachedlinkinfo:VX|S|../img/bg_bullet_full_1.gif S|../img/bg_bullet_full_1.gif
vti_cachedsvcrellinks:VX|FSUS|facultyonline/img/bg_bullet_full_1.gif FSUS|facultyonline/img/bg_bullet_full_1.gif
vti_extenderversion:SR|12.0.0.6413
vti_backlinkinfo:VX|facultyonline/evaluate.html facultyonline/implement3.html facultyonline/index.html facultyonline/design3.html facultyonline/design4.html facultyonline/implement1.html facultyonline/implement2.html facultyonline/design2.html facultyonline/implement.html facultyonline/design1.html facultyonline/design.html facultyonline/analyze2.html facultyonline/analyze1.html facultyonline/analyze3.html facultyonline/develop4.html facultyonline/develop3.html facultyonline/evaluate2.html facultyonline/analyze.html facultyonline/evaluate1.html facultyonline/develop.html facultyonline/references.html facultyonline/develop1.html facultyonline/develop2.html
vti_syncofs_localhost\\c\:\\documents and settings\\administrator\\desktop\\ids web_extensions/c\:/documents and settings/administrator/desktop/ids web_extensions:TW|26 Sep 2011 19:04:32 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\administrator\\desktop\\ids web_extensions/c\:/documents and settings/administrator/desktop/ids web_extensions:TW|03 Oct 2011 13:36:02 -0000
